body {
	background-color: #07010d;
}

a {
	color: #d3d3d3;
	text-decoration: none;
}

.intro {
	font-family: "Arial Black", Gadget, sans-serif;
	position: relative;
	top: 10%;
	left: 2%;
	width: 450px;
	color: #d3d3d3;
	padding: 15px;
	border: 1px solid #d3d3d3;
	border-radius: 10px;
	background-color: rgba(7, 1, 13, .8);
	line-height: 1.3;
	float: left;
}

p.title {
	font-family: : "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.5em;
	line-height: .2;
	text-decoration: bold;
}


.links {
	float: right;
	position: relative;
	padding: 10px;
	width: 150px;
	right: 10%;
	top: 20%;
}

.link {
	border: 1px solid #d3d3d3;
	border-radius: 10px;
	background-color: rgba(7, 1, 13, .7);
	padding: 20px;
	width:180px;
	margin:auto;
	margin-bottom: 20%;
	font-family: "Arial Black", Gadget, sans-serif;
}

.link:hover {
	border: 2px solid #d3d3d3;
}

.photo {
	position: absolute;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: .8em;
	color: #d3d3d3;
	bottom: 2%;
	right: 5%;
}

.first {
	height:95vh;
	background-image: url("blur.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute
	width: 100%;
}
